@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.advanced {
    @include page;
    display: flex;
    margin-top: 15px;

    section.container {
        margin-right: 15px;
        min-width: 20rem;
        display: flex;
        flex-direction: column;

        div.period, div.reporting, div.manage-present {
            margin-bottom: 15px;
        }
    }
    section.content {
        width: 100%;
        span.title {
            background-color: $light-grey;
            padding: 10px;
            border-top-left-radius: $br;
            border-top-right-radius: $br;
            display: block;
            font-weight: bold;
            font-size: 18px;
            color: $darker-blue;
            span.clipboard {
                display: inline-block;
                margin-left: 15px;
            }
        }

    }

}

