@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.animations {
  @include page;
  display: flex;
  margin-top: 15px;

  section.container {
    margin-right: 15px;
    min-width: 320px;
    max-width: 320px;
    display: flex;
    flex-direction: column;

    div.period, div.reporting, div.manage-present {
      margin-bottom: 15px;
    }
  }

  section.content {
    display: flex;
    flex-direction: column;
    width: 100%;

    p.title {
      text-align: center;
      color: $blue;
      margin-bottom: 15px;
      display: inline-block;
      font-size: 22px;
    }
    .flip-wrapper {

    }

    .row {
      display: flex;
      align-items: center;
      transition: width 850ms ease-in-out;
      margin: 10px 0;

      p {
        background-color: $background;
        padding-right: 10px;
        min-width: 335px;
        max-width: 335px;
        display: inline-block;
        color: $blue;
        text-align: right;
      }

      .value {
        display: inline-block;
        background-color: $background;
        margin-left: auto;
        padding-left: 5px;
      }
    }

  }

}

