@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.animations {
  @include page;
  display: flex;
  margin-top: 15px;

  section.container {
    margin-right: 15px;
    min-width: 20rem;
    display: flex;
    flex-direction: column;

    div.period, div.reporting, div.manage-present {
      margin-bottom: 15px;
    }
  }

  section.content {
    width: 100%;
    display: flex;
    flex-direction: column;

    p.title {
      text-align: center;
      color: $blue;
      margin-bottom: 15px;
      display: inline-block;
      font-size: 22px;
    }

    div.row {
      display: flex;
      align-items: center;
      transition: width 3500ms ease-in-out, order 3500ms ease-in-out;
      margin: 10px 0;

      p {
        background-color: $background;
        margin-right: 5px;
        min-width: 100px;
        font-size: larger;
      }

      span.value {
        display: inline-block;
        background-color: $background;
        font-size: larger;
        margin-left: auto;
        padding-left: 5px;
      }
    }

  }

}

