@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.connected-identity-providers {
    @include page;
    display: flex;
    margin-top: 15px;

    section.loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 40px;
        height: 100%;
        width: 100%;
        em {
            display: inline-block;
            margin-bottom: 15px;
        }
    }
    div.providers {
        border-radius: $br;
        background-color: white;
        border: 1px solid $lighter-grey;

        span.title {
            background-color: $light-grey;
            padding: 10px;
            border-top-left-radius: $br;
            border-top-right-radius: $br;
            display: block;
            font-weight: bold;
            font-size: 18px;
            color: $darker-blue;
        }
    }
    div.connected-providers, div.guests {
        padding: 15px;
        table {
            margin: 20px 0;
            width: 65%;
            th, td {
                text-align: left;
                padding: 3px;
                &.organizationName {
                    width: 70%;
                }
                &.surfConext, &.eduGAIN {
                    width: 15%;
                    text-align: center;
                }
            }
            th {
                i {
                    margin-left: 15px;
                    color: $lighter-grey;
                    &.current, &.reverse {
                        color: $blue;
                    }
                }
            }
            tbody tr:nth-child(odd) {
                background-color: $lightest-grey;
            }
        }
    }
    div.footer {
        padding: 15px;
    }
}


