@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.db {
    @include page;
    display: flex;
    margin-top: 15px;

    section.content {
        width: 100%;
        span.title {
            background-color: $light-grey;
            padding: 10px;
            border-top-left-radius: $br;
            border-top-right-radius: $br;
            display: block;
            font-weight: bold;
            font-size: 18px;
            color: $darker-blue;
        }

    }

}

