@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.live {
    @include page;
    display: flex;
    margin-top: 15px;

    section.container {
        margin-right: 15px;
        min-width: 15rem;
        display: flex;
        flex-direction: column;

        div.providers {
            margin-bottom: 36px;
        }
    }
}

