@import "../stylesheets/vars.scss";

div.filters {
    border-radius: $br;
    background-color: white;
    border: 1px solid $lighter-grey;
    span.title {
        background-color: $light-grey;
        padding: 10px;
        border-top-left-radius: $br;
        border-top-right-radius: $br;
        display: block;
        font-weight: bold;
        font-size: 18px;
        color: $darker-blue;
        cursor: pointer;
        &.hide {
            border-radius: 5px;
        }

    }

    section.controls {
        padding: 10px 15px;
        span.sub-title {
            display: inline-block;
            margin-top: 10px;
            &.first {
                margin-top: 0;
            }
        }
    }
    div.checkbox {
        margin-top: 10px;
    }
    div.Select {
        &.select-all {
            span.Select-clear-zone {
                display: none;
            }
        }
    }

    div.Select-control {
        border-radius: $br;
        border: 1px solid $lighter-grey;
        margin-top: 5px;
        display: table;
        border-spacing: 0;
        border-collapse: separate;
        outline: none;
        overflow: hidden;
        position: relative;
    }

    span.Select-arrow-zone {
        padding: 0 12px;
        background-color: $light-grey;
    }
}
