@import "../stylesheets/vars.scss";

.language-selector {

    margin-left: 25px;
    list-style: none;
    border: 1px solid $blue;
    border-radius: $br;
    font-size: medium;

    li {
        display: inline-block;
        padding: 5px 15px;
        margin: 0;
        &:first-child {
            border-bottom-left-radius: 1px;
            border-top-left-radius: 1px;
        }
        &:last-child {
            border-bottom-right-radius: 1px;
            border-top-right-radius: 1px;
        }
        a {
            font-weight: normal;
        }
        &.active {
            background-color: $blue;
            a {
                color: white;
            }

        }
    }

}
