@import "../stylesheets/vars.scss";

.ReactTable {

    width: 100%;

    .rt-thead .rt-th.-sort-desc, .rt-thead .rt-td.-sort-desc {
        box-shadow: inset 0 -3px 0 0 $blue;
    }
    .rt-thead .rt-th.-sort-asc, .rt-thead .rt-td.-sort-asc {
        box-shadow: inset 0 3px 0 0 $blue;
    }

    .rt-thead .rt-resizable-header-content {
        padding: 5px;
    }

    span.invalid {
        color: $red
    }

}





