@import "../stylesheets/vars.scss";

div.select-period {
  border-radius: $br;
  background-color: white;
  border: 1px solid $lighter-grey;
  width: 100%;
  span.title {
    background-color: $light-grey;
    padding: 10px;
    border-top-left-radius: $br;
    border-top-right-radius: $br;
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: $darker-blue;
    &.hide {
      border-radius: 5px;
    }
  }

  section.controls {
    padding: 10px 15px;
    align-items: center;
    display: flex;
    span.sub-title {
      &:not(:first-child) {
        display: inline-block;
        margin-top: 10px;
      }
    }
    i.fa-refresh {
      margin-left: 15px;
      font-size: 28px;
      color: $blue;
      cursor: pointer;
    }
  }
  span.Select-clear-zone {
    display: none;
  }
  div.Select {
    flex-grow: 2;
  }
  div.Select-menu-outer {
    min-height: 260px;
  }
  .Select-menu {
    min-height: 258px;
  }
  div.Select-control {
    border-radius: $br;
    border: 1px solid $lighter-grey;
    margin-top: 5px;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    outline: none;
    overflow: hidden;
    position: relative;
  }

  span.Select-arrow-zone {
    padding: 0 12px;
    background-color: $light-grey;
  }
}
