@import "../stylesheets/vars.scss";

span.tool-tip-section {
    font-size: 12px;
    color: grey;
    cursor: pointer;
    padding: 0 4px;

    button {
        background-color: transparent;
        border: none;
    }

    label {
        display: inline-block;
        margin: 12px 0 8px 0;
        color: black;
        position: relative;
        font-weight: bold;
        font-size: 16px;
    }

    img {
        margin-left: 5px;
        display: inline-block;
        width: 18px;
    }

}



